export default {
    gapi : {
        clientId : 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com'
    },
    defaultViews : [
        { view : 'ga:XXXXXXXX' },
        { view : 'ga:XXXXXXXX' },
    ],
}
