.sites {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: $space * 2 $space * 4;
    height: 100%;
    width: 100%;
}

.sites__add {
    position: absolute;
    bottom: $space;
    right: $space;
}

.sites__item {
    position: relative;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: $space;
    width: remCalc(250px);
    background-color: #fff;
    @include paper(1);
}

.sites__item--empty {
    @include paper(0);
    background-color: mix(#fff, $danger-color, 90%);
}

.sites__header {
    width: 100%;
    height: remCalc(200px);
    background-position: center;
    background-size: cover;
    padding: $space;
    display: flex;
    align-items: flex-end;
    background-color: #fff;
}

.sites__title {
    bottom: $space;
    left: $space;
    color: #fff;
    text-shadow: remCalc(2px) remCalc(2px) remCalc(1px) rgba(#000, .5);
    @include adjust-font-size-to(22px);
}

.sites__users {
    padding: $space;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: remCalc(55px);
    }

    h2 {
        font-size: remCalc(33px);
        color: $danger-color;
        padding: $space-half 0;
    }
}

%sites__top-icon {
    position: absolute;
    top: $space;
    right: $space;

    cursor: pointer;
}

.sites__delete {
    @extend %sites__top-icon;
    color: $danger-color;
}

.sites__settings {
    @extend %sites__top-icon;
}

.sites__close-settings {
    align-self: flex-end;
}

.sites__selector {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: $space $space * 2;

    > table {
        width: 100% !important;
        margin-bottom: $space-half;

        tr {
            display: flex;

            td {

                &:last-of-type {
                    width: auto !important;
                    flex: 1;
                }

                &:first-of-type {
                    width: remCalc(60px) !important;
                }

                > div {
                    width: 100%;
                }
            }
        }
    }
}
