.sites {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: $space $space * 4;
    height: 100%;
    width: 100%;
}

.sites__add {
    position: fixed;
    bottom: $space;
    right: $space;
    display: none !important;

    .user-active & {
        display: block !important;
    }

    &:hover {
        display: block !important;
    }
}

.sites__item {
    position: relative;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: $space;
    width: remCalc(250px);
    background-color: #fff;
    @include paper(1);
}

.sites__item--empty {
    @include paper(0);
    background-color: mix(#fff, $danger-color, 90%);
}

.sites__header {
    position: relative;
    width: 100%;
    height: remCalc(200px);
    background-position: center 30%;
    background-size: 60%;
    background-repeat: no-repeat;
    padding: $space;
    display: flex;
    align-items: flex-end;
    background-color: #fff;
}

.sites__title {
    position: absolute;
    margin: 0;
    color: $gray-dark;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: remCalc(4px) $space;
    @include adjust-font-size-to(22px);
}

.sites__users {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.site__users__number {
    font-size: remCalc(55px);
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    text-shadow: remCalc(0px) remCalc(0) remCalc(8px) rgba(#fff, .9);

    .sites__item--empty & {
        color: $danger-color;
    }
}

.site__chart {
    max-height: remCalc(100px);
    stroke: rgba($action-color, .3);
    margin: $space-half;
    width: 90%;

    .sites__item--empty & {
        stroke: rgba($danger-color, .3);
    }
}

%sites__top-icon {
    position: absolute;
    top: $space;
    right: $space;

    cursor: pointer;
}

.sites__delete {
    @extend %sites__top-icon;
    color: $danger-color;
}

.sites__settings {
    display: none;
    @extend %sites__top-icon;

    .sites__item:hover & {
        display: block;
    }
}

.sites__close-settings {
    align-self: flex-end;
}

.sites__selector {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: $space $space * 2;

    > table {
        width: 100% !important;
        margin-bottom: $space-half;

        tr {
            display: flex;

            td {

                &:last-of-type {
                    width: auto !important;
                    flex: 1;
                }

                &:first-of-type {
                    width: remCalc(60px) !important;
                }

                > div {
                    width: 100%;
                }
            }
        }
    }
}
